rdkit-pypi>=2022.9.0
transformers>=4.30.0
torch>=2.0.0
PyTDC>=0.4.0
streamlit>=1.25.0
py3Dmol>=2.0.0
stmol>=0.0.9
numpy
pandas
openai>=1.0.0
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
llama-cpp-python>=0.2.0
